body{
    background-image: url(images/query5.jpg);
    background-blend-mode: transparent;
    /*background-repeat:repeat-x;*/
    height:600px;
    background-size: cover;
    background-color: tan;
    *box-sizing: border-box;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
    overflow-y:;
    overflow-wrap: hidden;
  }
  .account{
	background-color:Gainsboro;
    padding: 100px;    
    margin:auto;
    width:30%;
    margin-top: 250px;
 }
 #btn1{
    margin:auto;
    width:150%
    height:50px;
    font-family:sans-serif; 
    font-style:normal;
    color:Azure;
    font-size: 1.5vw;
    text-decoration-color: cornsilk;
    text-overflow:wrap;
}
#btn2{
    width:60%;
    height:50px;
    font-family:sans-serif; 
    font-style:normal;
    color:Azure;
    font-size: 1.5vw;
    text-decoration-color:Azure;
    margin-left: 60px;
}
#qbtn{
    width:60%;
    height:50px;
    font-family:sans-serif; 
    font-style:normal;
    color:Azure;
    font-size: 1.5vw;
    text-decoration-color:Azure;
    margin-left: 0px;
}
input{
    margin:auto;
    width:70%;
    padding: 12px;
    border: 1px solid wheat;
    border-radius: 4px;
    resize: vertical;
    background-color:grey;
    margin-left:30px;
}
.control-label
{
    margin-left: 30px;
    width: 100%;
    font-size: 1.5vw;
}

 #title{
    margin-left:10%;
    font-size: 3vw;

 }
 .centred{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color:DimGrey;
    font-family: Trebuchet-Ms;
    font-style: oblique;
    text-shadow: 3px 1px Azure; 
    }
#heading{
    font-size: 5vw;
    color:MidnightBlue;
    font-family: Trebuchet-Ms;
    font-style:normal;
    text-shadow: 3px 1px Azure; 
    

}
#post{
     position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;

}
#answer{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;

}
#stck{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;

}
.top-right {
    margin-top: 30px;
    margin-right: 50px;
    position: absolute;
    top: 8px;
    right: 16px;
}
a{
    color:DimGrey;
     font-size: 1.2vw;
}
h3{
    margin-top: 2px;
}
.or{
    position:absolute;
}
#linkaccount{
    margin-left: 100px;
}
.profile{
    background-color:Gainsboro;
    padding: 100px;    
    margin:auto;
    width:30%;
    margin-top: 150px;
}
#textarea{
    width:80%;
}
.allquestions{
    background-color:Gainsboro;
    padding: 100px;    
    margin:auto;
    width:30%;
    margin-top: 70px;
}
#allquestions{
    font-size: 15px;
}
#myquery{
    margin:auto;
    width:70%;
    padding: 12px;
    border: 1px solid wheat;
    border-radius: 4px;
    resize: vertical;
    background-color:white;
    margin-left:30px;
    font-size: 2vw;
}
#quest{
    font-size: 1.5vw;
}