/*styling the form*/
form{
	background-color:transparent;
	box-sizing: content-box;    
  width: 500px;
  padding: 50px;    
  border: 0px solid brown;
  -webkit-align-content: center;
  align-content: center;
  text-decoration-color: tan;
  font-size: 20px;
  }
 /*styling the body*/
body{
	background-image: url(images/diary4.jpg);
	background-blend-mode: transparent;
	/*background-repeat:repeat-x;*/
	height:600px;
	background-size: cover;
	background-color: tan;
	box-sizing: border-box;
	margin-left:auto;
	margin-right:auto;
	overflow-x: hidden;
	overflow-y:;
	overflow-wrap: hidden;
  
}
#btn2{
	width:350px;
	height:50px;
	font-family:sans-serif; 
	font-style:normal;
	color:wheat;
	font-size: 17px;
	text-decoration-color: cornsilk;
}

#btn4{
  width:40%;
  height:50px;
  font-family:sans-serif; 
  font-style:normal;
  color:wheat;
  font-size: 17px;
  text-decoration-color: cornsilk;
}
#btn3{
	width:100px;
	height:20px;
	font-family:sans-serif; 
	font-style:normal;
	font-size: 15px;
	text-decoration-color: cornsilk;
}
#gender{
	background-color: wheat;
}
#title{
	background-color:transparent;
	font-size: 34px;
	color:wheat;
	font-style:normal;
}
#calendar{
	border-width:0px; 
	width: 800px;
	height:600px;
	scroll-behavior:; 
}
/*styling class span*/
div.span1 {
    position: absolute;
    right: 600px;
    width: 5px;
    height: 120px;
    }
 #image {
 	position:absolute;
  	width:250px;
 	height:150px;
  }
 /*styling the top and side navigations together with the liks*/
 .topnav {
   position: absolute;
    right: 0px;
    width: 200px;
    height: 300px;
}
.topnav-right {
  float: right;
}
.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:cornsilk;
    overflow-x: hidden;
    padding-top: 20px;
}
a{
	color:wheat;
  font-size:15px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: chocolate;
    display: block;
}
a:link{
	background-color:transparent;
	padding:10px 20px;
	color:wheat;
	text-align:inline;
}
a.login{
	float:right;
}

.sidenav a:hover {
    color:black;
}

.main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
}
/*styling class clear fix, that contains the submit buttons*/
div.clearfix{
    width: 60%;
    background-color:#675a4e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*styling class clear fix, that contains the submit buttons*/
div.clearfix:hover{
	background-color:#675a4e;
}
.signupbtn:hover{
	background-color: sienna;
}
h1{
	text-shadow:3px 2px sienna; 
}
h5{
	text-shadow:0px 1px cornsilk;
}
#my_events {
	background-color: cornsilk;}
#todo {
	background-color:cornsilk;
	font-style: normal;
	color:peru;
  width:70%;
  margin: 150px;
}
#calendar {
	background-color: cornsilk;
	border-width:0;
	width:500px; 
 	height:400px;
 	box-sizing: content-box; 
 }
#profile {background-color:#675a4e;}
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position:sticky;
  background:wheat;
  font-size: 22px;
  transition: 0.2s;
 }
/* styling the dropdown that contains the  added items of the to do list*/
ul li:nth-child() {
  background:wheat;
  width:50%;
}

ul li:hover {
  background:chocolate;
}
/*close mark style*/
.close {
  position: absolute;
  right: 0;
  top: 0;
 
}
/*styling close text*/
.close:hover {
  background-color:wheat;
  color:black;
}
/*tab header style*/
.header {
  background-color:white;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
/*styling input boxes*/
input{
	width: 60%;
	padding: 12px;
  border: 1px solid wheat;
  border-radius: 4px;
  resize: vertical;
  background-color:#675a4e;
  color: wheat;
}


/* Style the inputlist */
.inputlist {
  margin: 5px;
  border: none;
  border-radius: 2px;
  width: 800px;
  padding: 10px;
  float:right;
  font-size: 16px;
}
control-label{
	color:transparent;
}
/* Style the addbtn */
.addbtn {
  padding: 10px;
  width: 100px;
  background:tan;
  color:white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
 }

.addbtn:hover {
  background-color:chocolate;
}
.notes{
	text-decoration-color: rgb(black);
	float:left;
  background-color: #675a4e;
  color:wheat;
}
.vnotes{
	float:right;
	padding: 10px
	width:100px;
}
.inverse_button{
	background-color:transparent;
	
    padding: 50px;    
    border: 0px solid brown;
    -webkit-align-content: center;
    align-content: center;
    text-decoration-color: tan;
    float:right;
    right: 600px;
    text-shadow:3px 2px sienna; 
    font-size: 20px;
 }
.row:after{
	content: "";
	display:table;
	clear: both;
	box-sizing: border-box;
}
.column{
	float:left;
	width:30%;
	padding:10px;
	box-shadow: 0 0 7px 0px black;
	box-sizing: border-box;
	flex:30%;
	columns: auto;
}
#links{
	background-color:transparent;
	font-size: 20px;
	color:black;
	font-style:normal;
}
#notes{
	box-sizing: content-box;
	justify-content:space-around;
	background-size: 400px;
	background:center;
	columns: auto;
	height:fixed;
	text-overflow: hidden;

	}
#mynotes{
	box-sizing: content-box;
	height:500px;
	height:fixed;
}
#intro{
  text-align: center;
  margin-left: 230px;
  font-size: 25px;
  color:wheat;
  font-family:sans-serif;
  font-style: oblique;
  text-shadow: 5px 7px black; 
  margin-top: 50px;
 }
 #str{
  margin-right:300px;
  background-color:#675a4e;
 }
 #female{
  width:20px;
 }
 #male{
  width:20px;
 }
 #other{
  width:20px;
 }
 #miles{
  background-color:#675a4e;
 }
 textarea{
  background-color: #675a4e;
  color:wheat;
 }
 #tops{
  text-align:left;
  font-size: 12px;
  color:wheat;
  font-family:sans-serif;
  font-style: oblique;
  text-shadow: 5px 7px black; 
  margin-top: 10px;
 }
 #account{
  background-color: wheat;
 }